/* CSS for "Ká-Europa podcast" page (custom) */

/* Global */
html {
    background-attachment: fixed;
    background-color: #EBD1B0;
    background-position: top left;
    background-repeat: no-repeat;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: calc(15px + 0.390625vw);
    font-style: normal;
    font-weight: normal;
    text-align: center;        
}

/* All CSS items */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header */

#myHeader {
    align-content: center;
    align-items: center;
    background-color: black;
    color: white;    
    display: flex;
    font-size: 2rem;
    font-weight: bold;    
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    top: 0;
    transition: 0.4s;
    width: 100%;
    z-index: 2;
}

#menu-btn {
    cursor: pointer;
    font-size: 0.8em;
    margin-left: 20px;
}  

#head-title {
    flex: 1;
    font-size: 1.5em;
    padding: 15px;
}

#return-btn {
    cursor: pointer;    
    font-size: 0.8em;
    margin-right: 20px;
}

/* Side menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20vh;
    transition: 0.5s;
    opacity: 0.8;
}

.sidenav a {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    transition: 0.5s;
    color: #f1f1f1;
}

/* Containers */

.container {
    margin-top: 20vh;
    margin-bottom: 20vh;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 0.5em 1em;
}

.buttons {
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Container items */

.item {
    padding: 25px;    
}

.title {
    flex: 100%;
    font-size: 1.5rem;    
    font-style: normal;
    font-weight: normal;
    max-width: 60vw
}

.subtitle {
    flex: 100%;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: normal;
    max-width: 60vw
}

.text {
    font-size: 1rem;
    max-width: 50vw;
    text-decoration: none
}

.spotify {
    flex: 100%;
    max-width: 60vw;
}

.fullwide {
    flex: 100%;
}

.padded {
    padding: 25px;
}

.break {
    flex-basis: 100%;
    overflow: hidden;
    padding: 0;
    height: 0;
    margin: 0;
    border: 0;
}

/* Buttons */

button {
    background-color: #026d46;
    border: none;
    color: #ffffff;
    padding: 24px 64px;
    text-align: center;
    font-size: 0.9rem;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    opacity: 1;
    transition: 0.3s;
}

/* Color change animation for bootstrap icons */

i {
    transition: 0.3s;
}

i:hover {
    transition: 0.3s;
    color: #818181;
}

/* Images */

img{
    max-width: 70vw;
    height: auto;
}

/* Footer */

#myFooter {
    align-content: space-between;
    align-items: center;
    background-color: black;
    color: white;    
    display: flex;
    font-size: 1.5rem;
    font-weight: normal;
    gap: 0.5em 1em;    
    justify-content: center;
    padding: 10px 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

/* On smaller screens: hide certain items,
   widen certain items. */
@media only screen and (max-width: 1024px) {
    #menu-btn {
        display: none;
    }
    
    #return-btn {
        display: none;
    }
    
    #mySideNav {
        display: none;
    }

    .title {

        max-width: 80vw;
    }

    .subtitle {
        max-width: 80vw;
    }

    .text {
        max-width: 60vw;
    }

    .spotify {
        max-width: 80vw;
    }
}

/* On mobile screens: downscale certain fonts. */
@media only screen and (max-width: 480px) {
    #myHeader {
        font-size: 1.5rem
    }
    .title {
        font-size: 1.25rem;        
    }

    .subtitle {
        font-size: 1rem;
    }

    .text {
        font-size: 0.8rem;
    }

}






