<!-- Contacts page -->
{% extends "base.html" %}
{% block body %}
<main class="container vertical" aria-labelledby="page-title">
  <div class="item subtitle padded" role="none">
    <h1 id="page-title">Kapcsolat</h1>
  </div>
  <section class="item subtitle" title="Figyelmeztetés">
    <h2>Hamarosan!</h2>
  </section>
  <!-- Insert content here -->
  <nav class="item padded" title="Navigációs gombok">
    <button class="same-tab-btn" data-target="/">Vissza</button>
  </nav>
</main>
{% endblock body %}