<!-- Welcome page -->
{% extends "base.html" %}
{% block body %}
<!-- Vertical container for main page items. -->
<main class="container vertical" title="Főoldal">
  <!-- Welcome text. -->
  <div class="item" role="none">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Ká-Európa logo">
  </div>
  <section class="item title" title="Köszöntés">
    <h1>Üdvözöljük a Ká-Európa Podcast weboldalán!</h1>
  </section>
  <section class="item subtitle" title="Idézet">
    <h2><i><q>Közép-európaiak vagyunk:<br>
      az idegrendszerünk elrongyolt,<br>
      a vécépapírunk kemény.</q></i></h2>
  </section>
  <section class="item" title="Forrás">
    <h3>/Esterházy Péter/</h3>
  </section>
  <article class="item" title="Szöveg">
    <p class="body-text">Politikai-közéleti rehabilitációs gyakorlatok négy budapesti polgártól.
       A helyszín egy alagsor, a vélemény szabad, a koncepció minimális.</p>
    <p class="body-text">A műsor az Első Pesti Egyetemi Rádióval (eper.elte.hu) együttműködésben készül.</p>
  </article>
  <section class="item subtitle" title="Figyelmeztetés">
    <h3>Under Construction!</h3>
  </section>
  <!-- Last episode -->
  <article class="item spotify-cont" title="Legutóbbi epizód">
    <h2 class="padded">Legutóbbi epizód:</h2>
    <iframe class="spotify" title="Epizód lejátszása"
    src="https://open.spotify.com/embed/show/0vA5gWANjc356HZweAOM6n?utm_source=generator"
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    height="152" width="100%" loading="lazy"></iframe>
  </article>
  <!-- Horizontal container for button rows and latest episode item. -->
  <nav class="container horizontal small-margin" title="Navigációs gombok">
    <div class="item" role="none">
      <button class="same-tab-btn" data-target="/about">Rólunk</button>
    </div>
    <div class="item" role="none">
      <button class="same-tab-btn" data-target="/episodes">Epizódok</button>
    </div>
    <div class="item" role="none">
      <button class="same-tab-btn" data-target="/writings">Írások</button>
    </div>
    <div class="item" role="none">
      <button class="same-tab-btn" data-target="/contact">Kapcsolat</button>
    </div>
    <div class=break role="none"></div>
  </nav>
</main>
{% endblock %}