<!-- Season 4 episode list. -->
{% extends "base.html" %}
{% block body %}
<div class="container vertical">
  <div class="item subtitle padded">
    <h1>4. Évad</h1>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5iJ3lng5O1U6PtDqGyvnR2?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2ZUPcTOvv707REMmt1Eh6B?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4b9jeWwKJAZP1hd3iAFqXw?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item padded">
    <button onclick="loadPage('/episodes')">Vissza</button>
  </div>
</div>
{% endblock body %}