<!-- Season 2 episode list. -->
{% extends "base.html" %}
{% block body %}
<div class="container vertical">
  <div class="item subtitle padded">
    <h1>2. Évad</h1>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6mbiiyDVt9s7tcoQ6ELcYM?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3kqQQ2WMnv9Kiwn5B2m0sy?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6c9WzFIbrkgQQzRkpxNd1l?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6BZahAIxXqSV8prfwMhcrP?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/1pAWoSlirCBzBu9qxRrGTw?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3UA1qc69dzGnkwD5PiqjoG?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4BWW4lAoMeGYPvI2cA9jqQ?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4gdy6cW4YK7f4M1KE4KXRt?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4PGhNi8R6LGs8WQRx1tc9z?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/60e8ixzC8VENOD1oHhUnI5?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6ev3k67BAuSYHBJRrmTTmf?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/7J9Hjjo6wJAkfAFTgxbKfi?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item padded">
    <button onclick="loadPage('/episodes')">Vissza</button>
  </div>
</div>
{% endblock body %}