{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="item subtitle">
    <h1>3. Évad</h1>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/2wRkRW7ZTJC5TLftGwRmva?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4XQOztxiGPbvXcnVoiMvNY?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3AqzcD1fAPX0iS7lvE8xx3?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0Vn9eeUddmn9CxUIpYVaoS?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5719cr96SS7rdsDsHvMi2o?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4j02vF1EmDt13GsoQCBLMr?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3AC1e7WKdU6CrHvnBvexwt?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/08RaSlbzDd1mhgZyxW10SQ?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item padded fullwide">
    <button onclick="loadPage('/episodes')">Vissza</button>
  </div>
</div>
{% endblock body %}