{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="item subtitle">
    <h1>1. Évad</h1>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5fLWtdlsyzRP3OYj7NLJIy?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0Rxz15Gi5BgVvD6RdcmFQU?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/1K62imaPgQkYlUsOk0JWk6?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/0sLQfljS5QJe29muT9GWaw?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5GjonxGnUHMG46TW20uDVO?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3wM6fW7hODgS8rIq2N4jPK?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4oRgsyIB1aXtcSe2nHT4ns?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/7zS7OgUIDBYvzacXYIKFkX?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item spotify">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/1Eaa1kfvB5nrBEJa38Udco?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
  <div class="item padded fullwide">
    <button onclick="loadPage('/episodes')">Vissza</button>
  </div>
</div>
{% endblock body %}