<!-- Season episode list. -->
{% extends "base.html" %}
{% block body %}
<main class="container vertical">
  <div class="item subtitle padded" role="none">
    <h1>{{season_number}}. Évad</h1>
  </div>
  {% for episode in episode_list %}
  <details>
    <summary>{{episode.title}}</summary>
    <iframe style="border-radius:12px" src="{{episode.link}}" width="100%" height="152"
    frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </details>
  {% endfor %}  
  <nav class="item padded" title="Gombok">
    <button class="same-tab-btn" data-target="/episodes">Vissza</button>
  </nav>
</main>
{% endblock body %}