<!-- List of special episodes. -->
{% extends "base.html" %}
{% block body %}
<main class="container vertical" aria-labelledby="page-title">
  <div class="item subtitle padded" role="none">
    <h1 id="page-title">Különkiadások</h1>
  </div>
  {% for episode in episode_list %}
  <details class="item subtitle" title="{{episode.title}}">
    <summary>{{episode.title}}</summary>
    <article class="container vertical small-margin" aria-label="Részletek">
      <div class="item" role="none">
        <p class="info-text" title="Epizód információ">{{episode.descr}}</p>
      </div>
      <div class="spotify-cont" role="none">
        <iframe class="spotify" title="Epizód lejátszása" src="{{episode.link}}"
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
        height="152" width="100%" loading="lazy"></iframe>
      </div>
    </article>
  </details>
  {% endfor %}
  <nav class="item padded" title="Navigációs gombok">
    <button class="same-tab-btn" data-target="/episodes">Vissza</button>
  </nav>
</main>
{% endblock body %}